/* font family  end*/

@font-face {
  font-family: Helvetica-Neue-Bold;
  src: url(../fonts/Helvetica-Neue-Bold.ttf);
}

@font-face {
  font-family: PTSans-Regular;
  src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: PTSans-Bold;
  src: url(../fonts/PTSans-Bold.ttf);
}

/* font family  end*/

/* css veriables  start*/

:root {
  /* font family  */

  --hel-bold: Helvetica-Neue-Bold;
  --pt-reg: PTSans-Regular;
  --pt-bold: PTSans-Bold;

  /* font size  */

  --font-15: 15px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-22: 22px;
  --font-24: 24px;
  --font-28: 28px;
  --font-32: 32px;
  --font-34: 34px;
  --font-38: 38px;
  --font-42: 42px;
  --font-48: 48px;

  /* colors  */

  --white-clr: #fff;
  --dark-clr: #010101;
  --fade-clr: #898989;
  --ash-clr: #555555;
  --yellow-clr: #fcdb00;
}

/* css veriables  end*/

/* common css start  */

body {
  font-family: var(--pt-reg);
  font-size: var(--font-18);
  color: var(--fade-clr);
}

/* common css end  */

/* header start */
header {
  padding: 20px 0;
  background-color: var(--yellow-clr);
}

.toggler-btn {
  box-shadow: none !important;
}

.menu ul li a {
  padding: 0 55px !important;
  font-family: var(--pt-bold);
  font-size: var(--font-22);
  color: var(--dark-clr) !important;
  transition: all 0.3s ease-in-out;
}

.menu ul li:last-child a {
  padding-right: 0 !important;
}

.menu ul li a:hover {
  color: var(--white-clr) !important;
}

/* header end */

/* slider/banner start */

.banner {
  padding: 40px 0 100px;
  background-color: var(--yellow-clr);
}

.slider-dots {
  bottom: -80px;
}

.slider-dots [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slider-content h1 {
  font-family: var(--pt-bold);
  font-size: var(--font-32);
  font-weight: 700;
  color: var(--dark-clr);
}

.slider-content h2 {
  margin: 20px 0;
  font-family: var(--pt-reg);
  font-size: var(--font-20);
  color: var(--ash-clr);
}

.slider-content p {
  margin-bottom: 35px;
  color: var(--ash-clr);
}

.slider-icons ul li {
  margin-right: 30px !important;
}

.slider-icons ul li i {
  font-size: var(--font-42);
  color: var(--dark-clr);
  transition: 0.3s;
}

.slider-icons ul li i:hover {
  transform: translateY(-4px);
  color: var(--white-clr);
}

/* slider/banner end */

/* features start */
.features {
  padding: 120px 0;
}

.sec-title {
  margin-bottom: 15px;
  font-family: var(--pt-bold);
  font-size: var(--font-32);
  color: var(--dark-clr);
}

.feat-para {
  font-size: var(--font-20);
  font-weight: 400;
  color: var(--fade-clr);
  line-height: 28px;
}

.feat-item {
  margin-top: 70px;
}

.feat-icon i {
  font-size: var(--font-48);
  color: var(--dark-clr);
  transition: 0.3s;
}

.feat-icon i:hover {
  transform: scale(0.8);
  color: var(--yellow-clr);
}

.feat-text h2 {
  margin-bottom: 10px;
  font-family: var(--pt-reg);
  font-size: var(--font-22);
  color: var(--dark-clr);
}

.feat-text p {
  letter-spacing: 1px;
}

/* features end */

/* contact start */

.contact {
  padding: 120px 0;
  background-color: var(--dark-clr);
}

.yellow {
  color: var(--yellow-clr);
}

.ash {
  color: var(--fade-clr);
}

.contact-form {
  padding-top: 40px;
  padding-bottom: 70px;
}

.email-input {
  padding: 15px 20px;
  height: 55px;
  width: 100%;
  font-family: var(--pt-reg);
  color: var(--fade-clr);
}

.submit-btn {
  width: 100%;
  height: 55px;
  background-color: var(--yellow-clr);
  font-family: var(--pt-bold);
  font-size: var(--font-16);
  color: var(--dark-clr);
  text-transform: uppercase;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: var(--white-clr);
  transform: scale(0.95);
  color: var(--dark-clr);
}

.social-icon li {
  margin-right: 30px !important;
}

.social-icon li:last-child {
  margin-right: 0 !important;
}

.social-icon ul li a i {
  font-size: 42px;
  color: var(--yellow-clr);
  transition: 0.3s;
}

.social-icon ul li a:hover i {
  transform: translateY(-4px);
  color: var(--white-clr);
}

/* contact end */

/* footer start */
footer {
  padding-bottom: 120px;
  background-color: var(--dark-clr);
}

.footer-text address {
  color: var(--white-clr);
}

.footer-links {
  margin: 0;
  padding: 0;
}

.footer-links li {
  list-style: none;
  margin-bottom: 5px;
}

.footer-links li a {
  color: var(--white-clr);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: var(--yellow-clr);
}

/* footer end */
